

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}


#container {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* DETALHES E ENDEREÇO */

body {
    font-size: 12px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.titulo {
    background-color: #88dffa;
}

th {
    text-align: start;
    background-color: rgb(236, 236, 236);
}



table {

    width: 90vw;
}

#detalhes, #endereco {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela-detalhes, .tabela-endereco {
    width: 44.25vw;
    margin: 0 0.5vw;
}





/*
#detalhes, #endereco {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 0;
}

th {
    text-align: left;
    background-color: darkgray;
}

.titulo {
    background-color: cornflowerblue;
}



.tabela-produtos {
    width: 80vw;
    margin: 0 auto;
} */








